/* 餐點按鈕被選中變色 */
button.meal-btn.selected {
  background-color: #343a40;  /* 深色 */
  color: white;
  border: 2px solid black;
}
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}
.meal-btn img {
  pointer-events: none;
}


/* #seatPopover {
  position: absolute;
  z-index: 1050;
  display: none;
} */

.border-error {
    border-color: red !important;
}

