<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../scss/pages/confirm.css">
</head>

<body>
    <footer class="blue-bg text-light py-3"">
        <div class="container">
            <div class="row">
                <!-- Logo 區塊 -->
                <div class="col-md-4 mb-4 mb-md-0 d-flex flex-column align-items-start">
                    <div class="mb-2">
                        <!-- 這邊建議放上 logo 圖片 <img src="logo.png" alt="AirGo Logo"> -->
                        <img src="../assets/images/logo.svg" alt="Logo" width="160px">
                    </div>
                </div>

                <!-- 法令規章 -->
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="gold-text mb-3">法令規章</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="gold-text text-decoration-none">個人資訊保護</a></li>
                        <li><a href="#" class="gold-text text-decoration-none">網路協助工具</a></li>
                        <li><a href="#" class="gold-text text-decoration-none">網頁政策</a></li>
                        <li><a href="#" class="gold-text text-decoration-none">國際運送條款（旅客及行李）</a></li>
                        <li><a href="#" class="gold-text text-decoration-none">國際包機運送條款（旅客、行李與貨物）</a></li>
                    </ul>
                </div>

                <!-- 聯絡我們 -->
                <div class="col-md-4">
                    <h5 class="gold-text mb-3">聯絡我們</h5>
                    <p class="gold-text">訂閱AirGo航空電子報</p>
                    <div class="d-flex gap-3 mb-4">
                        <a href="#"><i class="bi bi-line gold-text fs-5"></i></a>
                        <a href="#"><i class="bi bi-instagram gold-text fs-5"></i></a>
                        <a href="#"><i class="bi bi-facebook gold-text fs-5"></i></a>
                    </div>
                    <h6 class="gold-text">熱門常見問題</h6>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>