
<style>
    .gold-text {
    color: #DBB37D;
}

.gold-bg {
    background-color: #DBB37D;
}

.blue-text {
    color: #455C80;
}

.blue-bg {
    background-color: #2B3B52;
}

.light-blue-bg {
    background-color: #DBEAFF;
}


</style>

    <footer class="blue-bg text-light py-3" style="margin-top: 110px;">
        <div class="container">
            <div class="row">
                <!-- Logo 區塊 -->
                <div class="col-md-4 mb-4 mb-md-0 d-flex flex-column align-items-start">
                    <div class="mb-2">
                        <!-- 這邊建議放上 logo 圖片 <img src="logo.png" alt="AirGo Logo"> -->
                        <img src="../assets/images/logo.svg" alt="Logo" width="160px">
                    </div>
                </div>

                <!-- 法令規章 -->
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="gold-text mb-3">法令規章</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="gold-text text-decoration-none">個人資訊保護</a></li>
                        <li><a href="#" class="gold-text text-decoration-none">網路協助工具</a></li>
                        <li><a href="#" class="gold-text text-decoration-none">網頁政策</a></li>
                        <li><a href="#" class="gold-text text-decoration-none">國際運送條款（旅客及行李）</a></li>
                        <li><a href="#" class="gold-text text-decoration-none">國際包機運送條款（旅客、行李與貨物）</a></li>
                    </ul>
                </div>

                <!-- 聯絡我們 -->
                <div class="col-md-4">
                    <h5 class="gold-text mb-3">聯絡我們</h5>
                    <p class="gold-text">訂閱AirGo航空電子報</p>
                    <div class="d-flex gap-3 mb-4">
                        <a href="#"><i class="bi bi-line gold-text fs-5"></i></a>
                        <a href="#"><i class="bi bi-instagram gold-text fs-5"></i></a>
                        <a href="#"><i class="bi bi-facebook gold-text fs-5"></i></a>
                    </div>
                    <h6 class="gold-text">熱門常見問題</h6>
                </div>
            </div>
        </div>
    </footer>

