/* 導覽列/側邊導航 */
.sidebar {
  background-color: #b0bec5;
  min-height: 100vh;
  padding: 1rem;
}

.sidebar a {
  color: #212121;
  text-decoration: none;
}

.sidebar a:hover {
  color: white;
}

.card-custom {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}

.main-content {
  background-color: #eaeff9;
  padding: 2rem;
}

/* login畫面 */

/* dashboard */

.chart-fixed {
  max-height: 300px;
  height: 260px;
  margin: 0 auto;
}

/* btn */
.btn-edit {
  background-color: #ffcb9a;
}

.btn-edit:hover {
  background-color: #c69158;
}

.btn-delete {
  background-color: #a8454e;
  color: white;
}

.btn-delete:hover {
  background-color: #622123;
}
