@use 'color' as *;

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: $body-bg;
}

nav {
    ul {
        margin: 0;
        padding: 10px;
        list-style: none;
        background-color: $brand-primary;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: $text-accent;
    }
}

.schedule {
    padding: 10px;
    width: 70%;
    margin: 0 auto;

    .middle {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    p {
        color: $text-primary;
    }

    button {
        background-color: $body-bg;
        color: $text-accent;
        border: none;
        padding: 16px 0px;
        font-size: 14px;

    }
}

.journey {
    color: $text-secondary;
    width: 65%;
    margin: 0 auto;

    p {
        font-size: 30px;
        margin-bottom: 1rem;
    }

    .Outbound {
        display: flex;
        flex-direction: row;

        .OutboundLeft {
            width: 25%;
            height: 120px;
            font-size: 24px;
            background-color: $brand-primary;
            display: flex;
            flex-direction: row;
            color: $text-inverse;
        }
    }

    .OutboundRight {
        width: 30%;
        height: 120px;
        color: $text-primary;
        display: flex;
        flex-direction: column;
        background-color: $sidebar-bg;
        color: $text-primary;

        .OutboundRightTicket {
            background-color: $sidebar-bg;
            color: $text-primary;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}