@use 'color' as *;

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: $body-bg !important;
}

nav {
    ul {
        list-style: none;
        background-color: $brand-primary;
    }

    li {
        display: inline-block;
        color: $text-accent;
    }

    a {
        display: block;
        padding: 24px 12px;
        text-decoration: none;
        color: $text-accent;
    }
}

.schedule {
    width: 80%;
    margin: 0 auto;
    background-color: $body-bg;

    .middle {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    p {
        color: $text-primary;
    }

    .Currentlocation {
        text-decoration: underline;
    }

    button {
        background-color: $body-bg;
        color: $text-accent;
        border: none;
    }
}

.journey {
    color: $text-secondary;
    width: 65%;
    margin: 0 auto;

    p {
        margin-bottom: 1rem;
    }

    .Outbound {
        display: flex;
        flex-direction: row;

        .OutboundLeft {
            width: 25%;
            background-color: $brand-secondary;
            color: $text-inverse;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 130px;
        }

        .OutboundLeftCenter {
            width: 25%;
            background-color: $brand-secondary;
            color: $text-inverse;
            flex-direction: row;
            text-align: center;
            line-height: 65px;

            .FlightLine {
                width: 50%;
                display: block;
                margin: 0 auto;
            }
        }
    }

    .OutboundRight {
        width: 30%;
        background-color: $sidebar-bg;
        color: $text-primary;
        display: flex;
        flex-direction: column;

        .OutboundRightTicket {
            background-color: $sidebar-bg;
            color: $text-primary;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .OutboundRightTicket.active {
            background-color: $card-bg-inverse;
            color: $text-inverse;
            font-weight: bold;
        }
    }

    .ConfirmIcon {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        .bi {
            color: $text-primary;
        }

        .btn {
            padding: 0px 13px;
            border: 0;
            color: $text-inverse;
            background-color: $brand-primary;
        }

        .btn-active {
            background-color: $card-bg-alt;
            color: $text-primary;
        }

        .btn-inactive {
            background-color: $brand-primary;
            color: $text-inverse;
        }
    }
}